$red : #e84545;
$white : #ffffff;
$black : #000000;
$lightgray: #6c7279;
$gray : #333333;
$darkgray    : #2d3033;


a{
    text-decoration: none;
    color: $red;
    &:hover{
        text-decoration: none;
        color: $red;
        transition: 0.5s;
    }
}
body{
    background-color: $white;
}

.img-flex{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.img-flex img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}






/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
@import 'page/header';
@import 'page/basic';
@import 'page/write';

@import 'page/portfolio';



@import 'page/navigation';


@import 'page/article';
@import 'page/sidebar';
@import 'page/ajax';

@import 'page/footer';

@import 'page/responsive';


