a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
body{
    background-color: #fff;
}

/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
@import 'page/header';
@import 'page/write';
@import 'page/portfolio';
@import 'page/navigation';
@import 'page/footer';



@import 'page/responsive';


