a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
body{
    background-color: #fff;
}


.img-flex{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.img-flex img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
@import 'page/header';
@import 'page/write';
@import 'page/portfolio';
@import 'page/navigation';
@import 'page/footer';



@import 'page/responsive';


